# Исключаем виртуальное окружение
venv/

# Файлы настроек и конфиденциальная информация
*.env

# Кэш и временные файлы Python
__pycache__/
*.pyc
*.pyo

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db
