# Исключаем виртуальное окружение
venv/

# Файлы настроек и конфиденциальная информация
*.env
.gitignore

# Кэш и временные файлы Python
__pycache__/
*.pyc
*.pyo
test.py

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db
